body{
    background-color: rgb(240, 240, 240);
    margin: 5% 5% !important;
}

footer{
    color: rgb(132, 132, 132);
}

.button{
    width: 20%;
    min-width: 200px;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
}

.h1_title {
    font-size:xx-large;
}
.graph_title{
    font-size: x-large;
}
.input-title{
    font-size: large;
}